@import "../theme";
$card-size:320px;

.code-card-container {
  min-width: $card-size;
  max-width: $card-size;
  min-height: $card-size;
  border: solid 1px darken($primary-bg, 15%);
  background-color: darken($primary-bg, 7%);

}

.code-card-container > .wrapper{
  height:90%;
  background-color: darken($primary-bg, 15%);
  padding: 10px;

  border-color: darken($primary-bg, 10%);
  border-bottom-width: 5px;
  border-bottom-style: solid;
  cursor:pointer;

}
.code-card-container > .wrapper:hover{
  border-color: #ae63e4;
}

.code-card-container > .wrapper:hover > .title{
  color:#ae63e4;
}

.Bob {
  pointer-events: none;

}