@import "../theme";
$card-width:480px;
$card-height:$card-width*0.75;

.code-card-container {
  min-width: $card-width;
  max-width: $card-width;
  min-height: $card-height;
  max-height: $card-height;
  border: solid 1px darken($primary-bg, 15%);
  background-color: darken($primary-bg, 7%);

}

.title-wrapper {
  padding-bottom:4px;
  padding-left:5px;
}

.code-card-container > .wrapper {
  height: 83%;
  background-color: darken($primary-bg, 15%);
  padding: 10px;
  padding-top: 0px;
  padding-left: 5px;

  border-color: darken($primary-bg, 10%);
  border-bottom-width: 5px;
  border-bottom-style: solid;
  cursor: pointer;
}

.code-card-container:hover {
  border-color: #250a38;
}

.code-card-container:hover > .wrapper{
  border-color: #ae63e4;
}

.code-card-container:hover > .title-wrapper > .title{
  color:#ae63e4;
}


img.code-card-avatar {
  height:28px;
  vertical-align: middle;
  margin-right: 5px;
}

.code-card-footer {
  padding-top:5px;

}
.code-card-footer > span.username{
  font-size: 80%;
  color: $primary-color;
}

.CodeMirror {
  background-color: darken($primary-bg, 15%);
  pointer-events: none;

}
