@import "../theme";
$card-size:380px;

.code-card-container {
  min-width: $card-size;
  max-width: $card-size;
  min-height: $card-size;
  border: solid 1px darken($primary-bg, 15%);
  background-color: darken($primary-bg, 7%);

}

.title-wrapper {
  padding-top:3px;
  padding-bottom:4px;
  font-weight:bold;
}

.code-card-container > .wrapper{
  height:80%;
  background-color: darken($primary-bg, 15%);
  padding: 10px;

  border-color: darken($primary-bg, 10%);
  border-bottom-width: 5px;
  border-bottom-style: solid;
  cursor:pointer;

}
.code-card-container:hover > .wrapper{
  border-color: #ae63e4;
}

.code-card-container:hover > .title-wrapper > .title{
  color:#ae63e4;
}

.Bob {
  pointer-events: none;

}